.chat-app {
  display: flex;
  flex-direction: row;
  border: 0.25rem solid black;
  height: 40rem;
}

.chat-app__chat-list {
  width: 20rem;
  border-right: 0.25rem solid black;
}

.chat-app__message-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  cursor: pointer;
}
